<header>
    <h1>Notifications</h1>
</header>
<main>
    <section>
        <h5>Today</h5>
        <div class="container-message">
            <div class="message-time">
                <strong>Name</strong>
                <span>3 hours Ago</span>
            </div>
             <p>Notification Detail</p>
        </div>
    </section>
    <section>
        <h5>Yesterday</h5>
        <div class="container-message">
            <div class="message-time">
                <strong>Name</strong>
                <span>3 hours Ago</span>
            </div>
             <p>Notification Detail</p>
        </div>
        <div class="container-message">
            <div class="message-time">
                <strong>Name</strong>
                <span>3 hours Ago</span>
            </div>
             <p>Notification Detail</p>
        </div>
    </section>
     <section>
        <h5>7 Day ago</h5>
        <div class="container-message">
            <div class="message-time">
                <strong>Name</strong>
                <span>3 hours Ago</span>
            </div>
             <p>Notification Detail</p>
        </div>
        <div class="container-message">
            <div class="message-time">
                <strong>Name</strong>
                <span>3 hours Ago</span>
            </div>
             <p>Notification Detail</p>
        </div>
    </section>
</main>
<footer>
    <nav>
        <li>
            <a [routerLink]='["/home"]'>
                <img src="./house.svg" alt="">
            </a>
        </li>
        <li>
            <a href="">
                <img src="./compass.svg" alt="">
            </a>
        </li>
        <li class="add">
            <a href="">
                <img src="./add_large_line.svg" alt="">
            </a>
        </li>
        <li>
            <a [routerLink]='["/notification"]'>
                <img src="./bell.svg" alt="">
            </a>
        </li>
        <li>
            <a [routerLink]='["/account"]'>
                <img src="./user.svg" alt="">
            </a>
        </li>
    </nav>
</footer>