<div class="login-container">
    <div [routerLink]='["/"]' class="login-header">
        <h2>Welcome to</h2>
        <img src="./logo_black.png" alt="" srcset="">
        <h1>StreetAuc</h1>
    </div>
    <div class="login-form">
        <button [routerLink]='["/register"]'>Register</button>
        <button [routerLink]='["/sign-in"]'>Sign In</button>
    </div>
    <div class="login-footer">
        <p>or</p>
        <div class="social-login">
            <a href="http://" target="_blank" rel="noopener noreferrer">
                <img src="./facebook.png" alt="" srcset="">
            </a>
            <a href="http://" target="_blank" rel="noopener noreferrer">
                <img src="./google.png" alt="" srcset="">
            </a>
            <a href="http://" target="_blank" rel="noopener noreferrer">
                <img src="./apple.png" alt="" srcset="">
            </a>
        </div>
    </div>
</div>