* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --UI-Black: #111111;
    --UI-White: #ffffff;

    --splash-screen-bg: var(--UI-Black);
    --splash-screen-text: var(--UI-White);

    --Black-900: #10182B;

    --Light-UI-Element-contrast-30: color-mix(in srgb, var(--UI-Black) 30%, transparent);
    --Light-Text-White: #ffffff;
    --Light-Background-Element: #ffffff;
}

@font-face {
    font-family: "Merriweather_36pt-Regular";
    src: url(/font/Merriweather/static/Merriweather_36pt-Regular.ttf);
    font-size: 32px;
    font-weight: 300;
}

@font-face {
    font-family: "Ag TX2";
    src: url(/font/Roboto/static/Roboto-Regular.ttf);
    font-size: 15px;
    color: var(--Black-900);
    letter-spacing: -1%;
    line-height: auto;
}

@font-face {
    font-family: "Ag Heading 1";
    src: url(/font/Poppins/Poppins-Medium.ttf);
    font-size: 24px;
    color: var(--Black-900);
    letter-spacing: -0.5px;
    line-height: 32px;
}

@font-face {
    font-family: "Ag Heading 2";
    src: url(/font/Poppins/Poppins-Medium.ttf);
    font-size: 20px;
    color: var(--Black-900);
    letter-spacing: -0.5px;
    line-height: 26px;
}

@font-face {
    font-family: "Ag Button Large";
    src: url(/font/Poppins/Poppins-Medium.ttf);
    font-size: 22px;
    color: var(--Black-900);
    letter-spacing: -0.5px;
    line-height: 22px;
}